{% extends "core/base.html" %}

{% block content %}
<h1 class="uga-page-title">Edition post</h1>
<form action="" method="post" 
  enctype="multipart/form-data"
  >
{% csrf_token %}
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="title">Titre: </label>
    <input class="form-control col-sm-10" type="text" name="title" id="title" value="{{ post.title }}" required />
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="date">Date: </label>
    <input class="form-control col-sm-10" type="date" name="date" id="date" value="{{ post.date }}"/>
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="summary">Résumé: </label>
    <input class="form-control col-sm-10" type="text" name="summary" id="summary" value="{{ post.summary }}"  size="50" maxlength="80" required />
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="authors">Auteurs: </label>
    <input class="form-control col-sm-10" type="text" name="authors" id="authors" placeholder="Prenom1 Nom1, Prenom2 Nom2" value="{{ post.authors }}" maxlength="80" required />
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="tags">Tags: </label>
    <input class="form-control col-sm-10" type="text" name="tags" id="tags" placeholder="Tag1, Tag2" value="{{ post.tags }}" maxlength="80"/>
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="image">Image: </label>
    {% if post.image %}
    <img
        src="{% url 'image' cat=cat name=post.image %}"
      alt="thumbnail"
    />
    {% endif %}
    <input
      class="form-control col-sm-10 btn-primary"
      id="thumbnail"
      name="thumbnail"
      type="file"
      accept=".png,.jpg,.jpeg,.bmp,.tiff"
    />
  </div>
  <div class="mb-3 row">
    <label class="form-label col-sm-2" for="content">Contenu (Markdown)</label>
    <textarea class="form-control col-sm-10" id="content" name="content" rows="5">{{ post.content }}</textarea>
  </div>
<input class="btn btn-primary" type="submit" value="Modifier" />
{% if token %}
<div class="mt-5 border" >
  Bonjour,
  </br>
  </br>
  Vous êtes venue travailler au fablab MASTIC. Afin de présenter ce qui est réalisé au fablab, nous vous invitons à poster, sur le site du fablab, une photo et quelques lignes présentant vos réalisations. Pour cela vous pouvez remplir le formulaire à l'adresse suivante : {{SITE_URL}}{{request.path}}?token={{ token.token }}.
  </br>

  </br>
  L'équipe du fablab
</div>
</div>
{% endif %}
</form>
{% endblock %}
