<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <p>Bonjour,</p>
  </br>
  </br>
  <p>Ci dessous un lien vous donnant la possibilité de créer et modifier un unique article sur le site {{SITE_URL}}.</p>
  <p>Vous pouvez garder ce lien pour des modifications ultérieures mais ne le transmettez le à personne.</p>
  <p>Le lien <a href="{{SITE_URL}}/cms/edit/{{cat}}/{{slug}}?token={{ token.token }}">{{SITE_URL}}/cms/edit/{{cat}}/{{slug}}?token={{ token.token }}</a> .</p>
</body>
