<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <p>Bonjour,</p>
  </br>
  </br>

  <p>Vous pouvez trouver l'ensemble des informations concernant le fablab sur le site <a href="https://fabmastic.imag.fr/pages/infos.html">https://fabmastic.imag.fr/pages/infos.html</a>.</p>

 <p>Pour des projets professionnels (études, recherche, service, etc) le fablab est ouvert sur rendez-vous de 9h-11h30 et 13h30-17h. Site de réservation <a href="https://resa.fabmastic.imag.fr">https://resa.fabmastic.imag.fr</a>.</p>

 <p>Il est possible de réaliser des projets perso au fablab les jeudis après midi de 12h à 17h lors du FabRepair FabBidouille (<a href="https://fabmastic.imag.fr/pages/infos.html#fabbidouille">https://fabmastic.imag.fr/pages/infos.html#fabbidouille</a>). Les projets de réparation sont privilégiés.</p>

</body>
